body {
    background: url("../images/background.png");
}

.mainContent {
    background: url("../images/gravel.png");
    width: 60%;
}

.gameDisplay {
    position: relative;
    font-size: 18px;
}

#startButton {
    position: absolute;
    top: 50px;
    margin-left: -70px;
} 

#timeRemaining {
    font-size: 20px;
    color: rgb(206, 51, 31)
}

.triviaTitle {
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
}

.results {
    color: black;
}

button {
    font-weight: bold;
}